html {
    height: 100%;
}
#myPicture {
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
.topBar {
    text-align: center;
    margin: 0 0 10px 0;
}
body {
    font-family: Verdana;
    height: 100%;
    background-repeat: no-repeat;
    background: linear-gradient(225deg, rgb(53, 52, 52), rgb(250, 128, 114), rgb(247, 192, 170));
}
button {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #555555;
    border-radius: 6px 0 6px 0;
    font-size: 14px;
    transition-duration: 0.4s;
    text-shadow: 1px 2px 5px red;
}
button:hover {
    background-color: #008CBA;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}
h1 {
    clear: left;
    <! border: solid 2px gray;>
    margin: 15px 0 0 0;
    padding: 10px 0 0 0;
}
